#data-table-curso {
	color: #4c5154;
}

#data-table-curso tbody td:last-child {
	display: flex;
}

#data-table-curso tbody td a {
	margin-right: 10px;
}

@media screen and (max-width:768px) {
	#data-table-curso tbody td:last-child {
		display: block;
		text-align: center;
	}
}