.skin-blue .main-header .logo {
	background: none;
}

.skin-blue .main-header .logo:hover {
	background-color: #1e282c;
}

.skin-blue .main-header .navbar {
	background: #26d987; 
	background: -webkit-linear-gradient(to right, #222d32, #26d987); 
	background: linear-gradient(to right, #222d32, #26d987); 
}

.skin-blue .main-header .navbar .sidebar-toggle:hover {
	background-color: #1e282c;
}

